html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-color: var(--black);


}
:root{
  --black:#282421;
  --white: #FFFAFA;
  /* --black: #353839; */
  /* --black: #2E2F2F; */
  /* --black:#0e1111; */
  /* --white: #fbeee4; */
  /* --black: black;
  --white: white; */
}
.home_container{
  height: 100%;
  width: 100%;
}
.home_top{
  height: 40vh;
  width: 100%;
  display: grid;
  justify-content: center;
}

/* TODO figure out when it is narrow and long how to make it not go out the sides*/
.home_top_name{
  width: 100%;
  color:var(--white);
  text-align: center;
  font-weight: 900;
  font-size: 20vmin;
  font-family: inherit;

}
.grid_wrapper{
  width: 100%;
  height: 40%;
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section_card{
  width: 40%;
  margin-right: 25px;
  /* if i want it to go vertical then maybe replace back to margin right
  or look into how to space out midlle items of a grid view and keep
  them center */
  margin-left: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  /* padding-left: 15px; */
  text-decoration: none;
  color: var(--white);
}
.section_card:hover{
  background: var(--white);
  color: var(--black);
}
.section_card_titles{
  text-align: center;
}
