/* :root{
  --black: #353839;
  --white: #fbeee4;
  --grey: #ddd;
} */
/*blacks: #353839 	(53,56,57)
	#232b2b
  #1a1a1a first

  whites: #fbeee4
  #ffffff first
  */
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 550px;
  /*padding-left: 3%;*/
  /* TODO check to see if this is weird looking*/

}
/*#myTopnav{*/
/*  width: 100px;*/
/*}*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 15px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--white);
  color: var(--black);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: grey;
  color: var(--black);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;

}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 320px){
  .topnav {
    width: 320px;
  }
}