:root{
  --black: #353839;
  --white: #fbeee4;
  --grey: #ddd;
}
/*blacks: #353839 	(53,56,57)
	#232b2b
  #1a1a1a first

  whites: #fbeee4
  #ffffff first
  */
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* TODO check to see if this is weird looking*/
  font-size: 2vw;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--white);
  color: var(--black);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: var(--white);
  color: var(--black);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px;

}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
