.topnav {
    background-color: var(--black);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.topnav_shown {
    display: grid;
}
.persistent{
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
}
.persistent_shown{
    float: none;
    display: block;
    text-align: center;
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
}
.persistent:hover{
    color: var(--black);
    background-color: grey;
}
.persistent_shown:hover{
    color: var(--black);
    background-color: grey;
}

.nav_options_hidden{
    /* TODO lookinto accessiblity with this */
    /*position: absolute !important;*/
    /*top: -9999px !important;*/
    /*left: -9999px !important;*/
    display: none;
}
.nav_options_shown{
    float: none;
    display: block;
    text-align: center;
    color: var(--white);
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
}
.nav_options_shown:hover {
    background-color: grey;
    color: var(--black);
}
#icon_to_hide{
    position: absolute;
    right: 5px;
    top: 0;
    color: var(--white);
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;
}
@media screen and (min-width: 600px) {
    .topnav {
        background-color: var(--black);
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .topnav a {
        float: left;
        display: block;
        color: var(--white);
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 20px;

    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: var(--white);
        color: var(--black);
        border-radius: 10px;
    }
    .topnav a:hover {
        background-color: var(--white);
        color: var(--black);
        border-radius: 10px;
    }
    #icon_to_hide{
        display: none;
    }
}