/*h1{*/
/*  text-align: center;*/
/*  !*padding-left: ;*!*/
/*  color: var(--white);*/
/*}*/
.projects_container {
  /*text-align: center;*/
  /*display: grid;*/
  /*justify-content: center;*/
}

#projects_header {
  color: var(--white);
  text-align: center;
  /*padding-left: 56.25%;*/
}

.projectApp {
  width: 100%;
  /*margin: auto;*/
  /*padding-right: 12.5%;*/
  /*padding-left: 12.5%;*/
  overflow: hidden;
}

.project_titles {
  /*float: left;*/
  width: 300px;
  margin: auto;
  /*padding-right: 5%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding-top: 200px;*/
}

.project_title {
  text-align: center;
  color: var(--white);
}

.projectInfoBody {
  /*float: right;*/
  width: 75%;
  /*padding-left: 5%;*/
  margin: auto;

}

.project_info_titles {
  text-align: center;
  color: var(--white);
}

.project_info_lines {
  text-align: center;
  color: var(--white);
}

.project_description_paragraph {
  text-align: justify;
}

.project_title_button {
  width: 100px;
  height: 50px;
  /*border-radius: 10px;*/
  background-color: var(--black);
  /*border: 1px solid var(--white);*/
  border: none;
  color: var(--white);
  /*margin-left: 2vw;*/
  /*margin-right: 2vw;*/
  display: block;
  /*text-align: right;*/
  font-size: 13px;

}

.project_title_button:hover {
  /*background-color: var(--black);*/
  color: darkgray;

}


.project_title_button_active {
  width: 100%;
  height: 50px;
  /*border-radius: 10px;*/
  background-color: var(--black);
  /*border: 1px solid var(--white);*/
  border: none;
  color: grey;
  /*margin-left: 2vw;*/
  /*margin-right: 2vw;*/
  display: block;
  /*text-align: right;*/
  font-size: 13px;


}

.project_title {
  text-align: match-parent;
}

.project_info_titles {
  text-align: center;
}

h3 {
  color: var(--white);
  text-align: center;
}

p {
  color: var(--white);
}

.project_title_container{
  display:grid;
  justify-content: center;
}
.project_info_links {
  text-align: center;
  color: var(--white);

}
@media screen and (max-width: 480px){
  .projectInfoBody {
    /*float: right;*/
    width: 92.5%;
    /*padding-left: 5%;*/
    margin: auto;

  }
}
@media only screen and (min-width: 768px) {
  .projects_container {
    /*text-align: center;*/
    /*display: grid;*/
    /*justify-content: center;*/
  }

  #projects_header {
    color: var(--white);
    text-align: center;
    /*padding-left: 56.25%;*/
  }

  .projectApp {
    width: 75%;
    /*margin: auto;*/
    /*padding-right: 12.5%;*/
    /*padding-left: 12.5%;*/
    /*margin: auto;*/
    margin-left: 5%;
    padding-top: 50px;
    overflow: hidden;
  }

  .project_titles {
    float: left;
    width: 15%;
    /*padding-right: 5%;*/
    display: grid;
    justify-content: center;
    padding-top: 100px;
  }

  .project_title {
    text-align: center;
    color: var(--white);
  }

  .projectInfoBody {
    float: right;
    width: 75%;
    padding-left: 5%;
  }

  .project_info_titles {
    text-align: center;
    color: var(--white);
  }

  .project_info_lines {
    text-align: center;
    color: var(--white);
  }

  .project_description_paragraph {
    text-align: justify;
  }

  .project_title_button {
    width: 100px;
    height: 50px;
    /*border-radius: 10px;*/
    background-color: var(--black);
    /*border: 1px solid var(--white);*/
    border: none;
    color: var(--white);
    /*margin-left: 2vw;*/
    /*margin-right: 2vw;*/
    display: block;
    text-align: right;
    font-size: 13px;

  }

  .project_title_button:hover {
    /*background-color: var(--black);*/
    color: grey;
    transform: scale(1.5);
  }

  .project_title_button_active {
    width: 100%;
    height: 50px;
    /*border-radius: 10px;*/
    background-color: var(--black);
    /*border: 1px solid var(--white);*/
    border: none;
    color: grey;
    /*margin-left: 2vw;*/
    /*margin-right: 2vw;*/
    display: block;
    text-align: right;
    font-size: 13px;

  }

  .project_title {
    text-align: match-parent;
  }

  .project_info_titles {
    text-align: center;
  }

  h3 {
    color: var(--white);
    text-align: center;
  }

  p {
    color: var(--white);
  }


  .projects_container {
    /* display: grid; */
    /* position: relative; */
  }

  .projects_buttons_and_display_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .buttons_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}