h1{
  text-align: center;
  color: var(--white);
}
.projects_container{
  /* display: grid; */
  /* position: relative; */
}
.projects_buttons_and_display_container{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.buttons_container{
  width:100%;
  display: flex;
  justify-content: center;
}
.project_title_button{
  width: 10vw;
  height: 5vw;
  border-radius: 10px;
  background-color: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  margin-left: 2vw;
  margin-right: 2vw;

}
h3{
  color:var(--white);
  text-align:center;
}
p{
  color:var(--white);
}
.item{
  padding-left: 1vw;
}
.word_item_container{
  width:100%;
  display: flex;
  justify-content: center;
}
.project_title_button:hover{
  background-color: var(--white);
  color: var(--black);
}

.project_displayer{
  width:60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* TODO if time add a border to the projects stuff*/s
  border: 1px solid var(--white);
}
.photo_wrapper{
  /* background-color: var(--white); */
  width:80vw;
  height:45vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project_photo{
  border: 0px;
}
.link{
  padding-top: 15px;
  padding-left: 1vw;
  text-decoration: underline;
  color:var(--white);
  text-align: center;
}
