
#domain_input{
    display: block;
    margin: auto auto 3%;
}
.header_info{
    width: 75%;
    margin: auto;
    text-align: center;
}
.scanner_title_heading{
    color:var(--white);
}
.scanner_header_info{
    color:var(--white);
}
.scanner_methods_list {
    width: 75%;
    margin: auto;
}

.scanner_method_list_item{
    display: flex;
    flex-direction: row;
    border: var(--white);
    border-width: thin;
    border-style: solid;
    width: 100%
}
.methods_button_explanation_container{
    width: 66%;
    border-right: var(--white);
    border-right-width: thin;
    border-right-style: solid;

}
.methods_button_explanation{
    color:var(--white);

}

.method_button_and_output{
    width: 33%;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}
.scanner_button{
    width: 40%;
    background-color: var(--white);
    color: var(--black);
    border: thin var(--black);
}
.scanner_button:hover{
    background-color: grey;
    color: var(--white);
}
.scanner_output{
    width:60%;
    color:var(--white);
}
